---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h1 class="font-medium text-2xl mb-8 tracking-tighter">
		Asdrúbal Chirinos
	</h1>
	<p class="prose prose-neutral dark:prose-invert mb-4">
		<b>Vision Architect</b> | Bridging Business and Code for Success.
	</p>
	<p class="prose prose-neutral dark:prose-invert mb-4">
		I help build bridges between visionaries and doers to turn bold ideas
		into reality. With over 30 years of experience, I specialize in
		translating high-level objectives into actionable technology roadmaps.
	</p>
	<div class="my-8">
		<ul class="flex flex-col space-y-2">
			<li>
				<a
					href="/philosophy"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">Read my Philosophy</span>
				</a>
			</li>
			<li>
				<a
					href="/resume"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">View my Resume</span>
				</a>
			</li>
			<li>
				<a
					href="/projects"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">Check out my Projects</span>
				</a>
			</li>
		</ul>
	</div>
</Layout>
