---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h1 class="font-bold text-3xl mb-4 tracking-tight lowercase">
		Asdrúbal Chirinos
	</h1>
	<p class="text-xl text-neutral-600 dark:text-neutral-400 mb-8">
		Vision Architect
	</p>

	<div class="prose prose-neutral dark:prose-invert">
		<p class="text-lg leading-relaxed mb-6">
			I help build bridges between dreamers and doers to turn bold ideas
			into reality. With over 30 years of experience, I specialize in
			translating high-level objectives into actionable technology
			roadmaps.
		</p>
		<blockquote
			class="border-l-4 border-neutral-300 dark:border-neutral-700 pl-6 my-8 italic text-xl"
		>
			<p>
				<strong>Bridging Business and Code for Success. </strong>
			</p>
		</blockquote>
	</div>

	<div class="my-8">
		<ul class="flex flex-col space-y-4">
			<li>
				<a
					href="/en/philosophy"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg">Unpack my Philosophy</span
					>
				</a>
			</li>
			<li>
				<a
					href="/en/personal-software"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg"
						>Join Personal Software</span
					>
				</a>
			</li>
			<li>
				<a
					href="/en/resume"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg">Discover my Journey</span>
				</a>
			</li>
			<li>
				<a
					href="/en/projects"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg">Explore my Projects</span>
				</a>
			</li>
		</ul>
	</div>
</Layout>
