---
import Layout from "../layouts/Layout.astro";
---

<Layout lang="es">
	<h1 class="font-bold text-3xl mb-4 tracking-tight lowercase">
		Asdrúbal Chirinos
	</h1>
	<p class="text-xl text-neutral-600 dark:text-neutral-400 mb-8">
		Arquitecto de Visión
	</p>

	<div class="prose prose-neutral dark:prose-invert">
		<p class="text-lg leading-relaxed mb-6">
			Ayudo a construir puentes entre los que sueñan y los que hacen para
			convertir ideas audaces en realidad. Con más de 30 años de
			experiencia, me especializo en traducir objetivos de alto nivel en
			hojas de ruta tecnológicas accionables.
		</p>
		<blockquote
			class="border-l-4 border-neutral-300 dark:border-neutral-700 pl-6 my-8 italic text-xl"
		>
			<p>
				<strong>Conectando negocio y código para el éxito.</strong>
			</p>
		</blockquote>
	</div>

	<div class="my-8">
		<ul class="flex flex-col space-y-4">
			<li>
				<a
					href="/es/philosophy"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg"
						>Descubre mi Filosofía</span
					>
				</a>
			</li>
			<li>
				<a
					href="/es/personal-software"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg"
						>Únete a Personal Software</span
					>
				</a>
			</li>
			<li>
				<a
					href="/es/resume"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg"
						>Conoce mi Trayectoria</span
					>
				</a>
			</li>
			<li>
				<a
					href="/es/projects"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200 group"
				>
					<span
						class="text-neutral-500 dark:text-neutral-400 mr-3 group-hover:mr-4 transition-all"
						>↗</span
					>
					<span class="font-medium text-lg"
						>Explora mis Proyectos</span
					>
				</a>
			</li>
		</ul>
	</div>
</Layout>
