---
import Layout from "../../layouts/Layout.astro";
---

<Layout lang="es">
	<h1 class="font-medium text-2xl mb-8 tracking-tighter">
		Asdrúbal Chirinos
	</h1>
	<p class="prose prose-neutral dark:prose-invert mb-4">
		<b>Arquitecto de Visión</b> | Uniendo Negocio y Código para el Éxito.
	</p>
	<p class="prose prose-neutral dark:prose-invert mb-4">
		Ayudo a construir puentes entre los visionarios y los hacedores para
		convertir ideas audaces en realidad. Con más de 30 años de experiencia,
		me especializo en traducir objetivos de alto nivel en hojas de ruta
		tecnológicas accionables.
	</p>
	<div class="my-8">
		<ul class="flex flex-col space-y-2">
			<li>
				<a
					href="/es/philosophy"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">Lee mi Filosofía</span>
				</a>
			</li>
			<li>
				<a
					href="/es/resume"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">Ver mi Currículum</span>
				</a>
			</li>
			<li>
				<a
					href="/es/projects"
					class="flex items-center transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
				>
					<span class="text-neutral-500 dark:text-neutral-400 mr-2"
						>↗</span
					>
					<span class="font-medium">Mira mis Proyectos</span>
				</a>
			</li>
		</ul>
	</div>
</Layout>
