---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
    <h1
        class="title font-medium text-2xl tracking-tighter max-w-[650px] mb-2 lowercase"
    >
        {post.data.title}
    </h1>
    <div
        class="flex justify-between items-center mt-2 mb-8 text-sm max-w-[650px]"
    >
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
            {
                post.data.pubDate.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
    </div>
    <article class="prose prose-neutral dark:prose-invert">
        <Content />
    </article>
</Layout>
